# Ignore Environment Variables (Security)
.env

# Ignore Python Cache
__pycache__/
*.pyc

# Ignore Data & Vector Stores (Too large for Git)
chroma_db/
hf_cache/

# Ignore IDE settings
.vscode/
.idea/

# Ignore System files
.DS_Store
Thumbs.db